SUBSYSTEM=="power_supply", KERNEL=="AC0", ATTR{online}=="0", RUN+="/bin/sh -c 'echo 1500 > /proc/sys/vm/dirty_writeback_centisecs'"

SUBSYSTEM=="power_supply", KERNEL=="AC0", ATTR{online}=="1", RUN+="/bin/sh -c 'echo 500 > /proc/sys/vm/dirty_writeback_centisecs'"
