# Quando entrar na Bateria (Cabo desconectado)
SUBSYSTEM=="power_supply", KERNEL=="AC0", ATTR{online}=="0", RUN+="/bin/sh -c 'echo balance_power > /sys/devices/system/cpu/cpufreq/policy0/energy_performance_preference'"

# Quando entrar na Tomada (Cabo conectado)
SUBSYSTEM=="power_supply", KERNEL=="AC0", ATTR{online}=="1", RUN+="/bin/sh -c 'echo balance_performance > /sys/devices/system/cpu/cpufreq/policy0/energy_performance_preference'"
